body {
  font-family: "Open Sans", sans-serif;
}

span {
  color: green;
}
.flexcontainer {
  display: flex;
  margin-left: 5px;
  padding: 5%;
  margin-bottom: 10px;
}
.link-button {
  text-decoration: none;
  background-color: #0a9264;
  color: white;
  font-family: tahoma;
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
}
#profileimage {
  background-image: url(../image/family.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.99;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 50%;
}
.item-container{
  display: flex;
  width: 96%;
  margin: 0 2%;
  text-align: center;
  
}
.individual-div{
  width: 30%;
  padding: 0 2%;
  margin: 0 2%;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-radius: 5px;
  box-shadow: 5px 10px 3px #56c596;
}

.item-image{
  width:100%;
}
footer{
  background-color: #56c596;
  margin: 0;
  text-align: center;
  
}
